@charset "UTF-8";
.d-flex {
  display: flex;
}

.p-fixed {
  position: fixed;
}

.w-40 {
  width: 40px;
}

.w-150 {
  width: 150px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #000;
}

#quick {
  right: 0;
  bottom: 50%;
  transform: translateY(-50%);
}
#quick ul li {
  line-height: 2;
}
#quick ul li a {
  border: 1px solid red;
  box-sizing: border-box;
  white-space: nowrap;
}
#quick ul li:hover {
  justify-content: end;
}
#quick ul li:hover span::after {
  content: "아무거나";
}