@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'KIMM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family:'Noto Sans KR','KIMM',sans-serif;
}

a{
    text-decoration: none;
    color: blue;
}

ul,li,ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.jcb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

.d-none {
    display: none;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}


header#header {
    background-color: white;
    border-bottom: 1px solid #ccc;

    h1 {
        a {
            padding: 1.59375rem 0;

            img {
                height: 3rem;
            }
        }
    }

    #gnb {
        >li {
            >a {
                line-height: 100px;
                padding: 2.40625rem 2rem;
            }

            .smenu {
                background-color: white;
                border: 1px solid #ccc;
                line-height: 2;
                white-space: nowrap;
                min-width: 110px;
                display: none;
            }
        }

        >li:hover {
           .smenu {
            display: block;
            text-align: center;
           }
        }
    }

}

