*{
    margin: 0;
    padding: 0;
    color: #333;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

a:hover {
    color: red;
}

.d-flex {
    display: flex;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.w-100 {
    width: 100%;
}

.bg-check {
    background-color: gray;
}

.jcc {
    justify-content: center;
}

.aic {
    align-items: center;
}

.jcb {
    justify-content: space-between;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.ofh {
    overflow: hidden;
}

.h0 {
    height: 0;
}

.h100 {
    height: 100px;
}

.h300 {
    height: 300px;
}

.h200 {
    height: 200px;
}

.tac {
    text-align: center;
}

/* layout */

header {
    background-color:chartreuse;
}

.d2ul {
    top: 100%;
    min-width: 50px;
    height: 0;
    overflow: hidden;
    transition: all .4s;
    z-index: 100000;
}

.d1li>a{
    line-height: 100px;
    font-size: 1.5rem;
    padding: 0 2rem;
    color: #fff;
    display: block;
}

.d1li:hover>a {
    background-color: white;
    color:#333;
}

.d2ul a {
    display: inline-block;
    width: 100%;
    color: #fff;
    padding: 1.5rem 0;
}

.d2ul>li:hover a {
    background-color:beige;
    color: #333;
}

.d2ul li {
    text-align: center;
}

#gnb:hover .d2ul {
    height: 350px;
}

#gnb::after {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: #333;
    height: 0;
    transition: all .4s;
}

#gnb:hover::after {
    height: 350px;
}
